Faker==13.3.0


1. Необходимо построить витрину для RFM-анализа.
2. Данная задача решается для классификации пользователей приложения.
3. В витрине необходимы данные с начала 2022 года.
4. Ограничения по доступы для конечных потребителей не накладывается.
5. Обновления витрины не нужны, в витрину включать только заказы со статусом closed.
6. Сроки реализации не установлены.
7. В конечной витрине необходимы 4 поля: user_id, recency, frequency, monetary_value.
    -Поле user_id означает уникальные индефикатор пользователя
    -Поле recency измеряется по последнему заказу. Распределите клиентов по шкале от 
        одного до пяти, где значение 1 получат те, кто либо вообще не делал заказов, 
        либо делал их очень давно, а 5 — те, кто заказывал относительно недавно.
    -Поле frequency  оценивается по количеству заказов. Распределите клиентов по шкале
         от одного до пяти, где значение 1 получат клиенты с наименьшим количеством заказов,
         а 5 — с наибольшим.
    -Поле monetary_value оценивается по потраченной сумме. Распределите клиентов по шкале от 
        одного до пяти, где значение 1 получат клиенты с наименьшей суммой, 
        а 5 — с наибольшей.
8. Для расчета витрины используется представление orders. Используемые поля:
    -order_id
    -order_ts
    -user_id
    -payment
    -status